html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: black;
  color: white;
  scroll-behavior: smooth;
}

@font-face {
  font-family: "Typewriter";
  src: url('../font/Courier\ M\ W10\ Bold.ttf');
  font-weight: normal;
}

@font-face {
  font-family: "Agharti";
  src: url('../font/AghartiVF.ttf');
  font-weight: normal;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}
